In [ ]:
#4-1
favorite_pizza = ['Cheese', 'Vodka', 'Pepperoni']

for pizza in favorite_pizza:
  print(f'I like {pizza} pizza.')

print('\nCheese pizza will always be in my top 3 pizza choices because it is an original.')
print('A vodka sauce slice is easily in my top 3 because I am a huge fan of the sauce,\nyou need to get this slice at the right place though!')
print('Pepperoni is another classic, but just adds so much flavor.')

print('\nI really love pizza.')

I like Cheese pizza.
I like Vodka pizza.
I like Pepperoni pizza.

Cheese pizza will always be in my top 3 pizza choices because it is an original.
A vodka sauce slice is easily in my top 3 because I am a huge fan of the sauce,
you need to get this slice at the right place though!
Pepperoni is another classic, but just adds so much flavor.

I really love pizza.

In [ ]:
#4-2

favorite_animals = ['Dogs', 'Tigers', 'Elephants']

for animals in favorite_animals:
  print(f'{animals} really love the outdoors.')

print('\nThese animals love the outdoors, and all use four legs to walk.')

Dogs really love the outdoors.
Tigers really love the outdoors.
Elephants really love the outdoors.

These animals love the outdoors, and all use four legs to walk.

In [ ]:
#4-3

for value in range(1,21):
  print(value)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [ ]:
#4-4 (won't run at all gets an error that the IOPub data rate is exceeded.)

numbers = list(range(1, 1000001))
print(numbers)

IOPub data rate exceeded.
The notebook server will temporarily stop sending output
to the client in order to avoid crashing it.
To change this limit, set the config variable
`--NotebookApp.iopub_data_rate_limit`.

Current values:
NotebookApp.iopub_data_rate_limit=1000000.0 (bytes/sec)
NotebookApp.rate_limit_window=3.0 (secs)

In [ ]:
#4-5

numbers = list(range(1,1000001))
min(numbers)
print(min(numbers))
max(numbers)

1

1000000

In [ ]:
#4-6

odd_numbers = list(range(1, 20, 2))
for odd_numbers in odd_numbers:
  print(odd_numbers)

1
3
5
7
9
11
13
15
17
19

In [ ]:
#4-7

multiples = list(range(3,31,3))
for multiples in multiples:
  print(multiples)

3
6
9
12
15
18
21
24
27
30

In [ ]:
#4-8

cubed =[number ** 2 for number in range(1, 11)]
for cube in cubed:
  print(cube)

1
4
9
16
25
36
49
64
81
100

In [ ]:
#4-9

cubed =[number ** 3 for number in range(1, 11)]

for cube in cubed:
  print(cube)

1
8
27
64
125
216
343
512
729
1000

In [ ]:
#4-10 // From 4-2 + 1 entry

favorite_animals = ['Dogs', 'Tigers', 'Elephants', 'Panda Bear', 'Snake']

for animals in favorite_animals:
  print(f'{animals} really love the outdoors.\n')

print('\nThe first three items in the list are:')
print(favorite_animals[:3])

print('\nThe middle three items in the list are:')
print(favorite_animals[1:4])

print('\nThe last three items in the list are:')
print(favorite_animals[-3:])

Dogs really love the outdoors.

Tigers really love the outdoors.

Elephants really love the outdoors.

Panda Bear really love the outdoors.

Snake really love the outdoors.


The first three items in the list are:
['Dogs', 'Tigers', 'Elephants']

The middle three items in the list are:
['Tigers', 'Elephants', 'Panda Bear']

The last three items in the list are:
['Elephants', 'Panda Bear', 'Snake']

In [ ]:
#4-11

favorite_pizza = ['Cheese', 'Vodka', 'Pepperoni', 'Sicilian']

friend_pizzas = ['White', 'BBQ Chicken', 'Pepperoni', 'Buffalo']

print('My favorite pizzas are:')
for pizza in favorite_pizza:
  print(pizza)

print('\nMy friends favorite pizzas are:')
for pizza in friend_pizzas:
  print(pizza)

My favorite pizzas are:
Cheese
Vodka
Pepperoni
Sicilian

My friends favorite pizzas are:
White
BBQ Chicken
Pepperoni
Buffalo

In [ ]:
#4-12

my_foods = ['pizza', 'falafel', 'carrot cake']
friend_foods = my_foods[:]


print("My favorite foods are:")
for foods in my_foods:
  print(foods)

print("\nMy friend's favorite foods are:")
for foods in friend_foods:
  print(foods)

My favorite foods are:
pizza
falafel
carrot cake

My friend's favorite foods are:
pizza
falafel
carrot cake

In [ ]:
#4-13

restaurant_foods = ('Burgers', 'Pizza', 'Chicken Wings', 'Ribs', 'Pulled Pork')

print('\nThis restaurant offers:')
for food in restaurant_foods:
  print(food)

#restaurant_foods[8] = 'Fries'  // The error


restaurant_foods = ('Corndog', 'Fries', 'Chicken Wings', 'Ribs', 'Pulled Pork')
print(restaurant_foods)

This restaurant offers:
Burgers
Pizza
Chicken Wings
Ribs
Pulled Pork
('Corndog', 'Fries', 'Chicken Wings', 'Ribs', 'Pulled Pork')

In [ ]:
#4-15
#1)

cubed =[number ** 3 for number in range(1, 11)]
for cube in cubed:
    print(cube)

#2)

favorite_animals = ['Dogs', 'Tigers',
                  'Elephants']
for animals in favorite_animals:
    print(f'\n{animals} really love the outdoors.')

print('\nThese animals love the outdoors, and all use four legs to walk.\n')

#3


for value in range(1,21):
  print(value)

1
8
27
64
125
216
343
512
729
1000

Dogs really love the outdoors.

Tigers really love the outdoors.

Elephants really love the outdoors.

These animals love the outdoors, and all use four legs to walk.

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

In [67]:
#Factorials posted on Brightspace

def factorial(n):
    my_list = list(range(1, n + 1))

    product = 1

    for x in my_list:
        product = product * x

    return product

def special_factorial(n):
    my_list = list(range(1, n + 1))

    if 4 in my_list:
        my_list.remove(4)
    if 13 in my_list:
        my_list.remove(13)
    if 22 in my_list:
        my_list.remove(22)

    product = 1

    for x in my_list:
        product = product * x

    return product


print("Factorial of 5:", factorial(5))
print("Factorial of 10:", factorial(10))
print("Factorial of 20:", factorial(20))
print("Factorial of 50:", factorial(50))


print("\nSpecial Factorial of 5:", special_factorial(5))
print("Special Factorial of 10:", special_factorial(10))
print("Special Factorial of 20:", special_factorial(20))
print("Special Factorial of 50:", special_factorial(50))

Factorial of 5: 120
Factorial of 10: 3628800
Factorial of 20: 2432902008176640000
Factorial of 50: 30414093201713378043612608166064768844377641568960512000000000000

Special Factorial of 5: 30
Special Factorial of 10: 907200
Special Factorial of 20: 46786577080320000
Special Factorial of 50: 26585745805693512275885146998308364374455980392448000000000000